body,html {min-width:1920px; background-color:#F2F2F2;}
section {
    width: 1920PX; height: 1020px;
    /* transform:translateY(-2px); */
}
.profille{
    background-image: url(../img/profille.jpg);
    font-size: 18px;
    width: 1920px;
    overflow: hidden;
}
.profille h3{
    font-size: 25px;
    background-color: #fff;
    padding-top: 16px;
    width: 177px; height: 61px;
    border-radius: 100px;
    border: 1px solid #000;
    text-align: center;
}
.profille .me {
    position: relative;
    top: 140px; left: 734px;
}
.profille .me h3 {
    margin-bottom: 40px;
}
.profille .me p {
    margin-bottom: 17px;
}
.profille .me p span {
    margin-left: 20px;
}

.profille .education {
    position: relative;
    left: 734px;
    margin-top: 226px;
}
.profille .education h3 {
    margin-bottom: 40px;
}
.profille .education p {
    margin-bottom: 18px;
}
.profille .education p span {
    margin-left: 20px;
}
.profille .license {
    position: absolute;
    right: 0;
    margin-right: 238px;
    bottom: -476px;
}
.profille .license h3 {
    margin-bottom: 40px;
}
.profille .license p {
    margin-bottom: 18px;
}
.profille .license span {
    margin-left: 20px;
}
.profille .skill {
    position: absolute;
    right: 125px; bottom: -800px;
}
.profille .skill h3 {
    margin-bottom: 40px;
}
.loccitane {
    background-image: url(../img/locci.jpg);
    padding-top: 270px;
}
.loccitane .L_txt {
    margin-left: 247px;
    width: 452px;
}
.loccitane .L_txt .txt {}
.loccitane .L_txt .txt h3 {
    margin-bottom: 46px;
    padding-left: 27px;
}
.loccitane .L_txt .txt p {
    margin-bottom: 17px;
}
.loccitane .txt p img {
    margin-left: 13px;
    padding-top: 10px;
}
.loccitane .L_txt .txt p span {
    margin-left: 32px;
}
.loccitane .txt p:nth-child(3) span {
    margin-left: 50px;
}
.loccitane .L_txt .btn {
    margin-top: 55px;
}
.loccitane .L_txt .btn a:hover {
    background: #EEFFC6;   
}
.loccitane .L_txt .btn a {
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    padding: 0px 20px;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid #000;
    margin-right: 8px;
}
.market {
    background-image: url(../img/b.jpg);
    padding-top: 270px;
}
.market .L_txt {
    margin-left: 247px;
    width: 452px;
}
.market .L_txt .txt h3 {
    margin-bottom: 46px;
    padding-left: 18px;
}

.market .L_txt .txt p {
    margin-bottom: 17px;
}
.market .txt p img {
    margin-left: 13px;
    padding-top: 10px;
}
.market .L_txt .txt p span {
    margin-left: 32px;
}
.market .txt p:nth-child(3) span {
    margin-left: 50px;
}
.market .L_txt .btn {
    margin-top: 55px;
}
.market .L_txt .btn a:hover {
    background: #EEFFC6;   
}
.market .L_txt .btn a {
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    padding: 0px 20px;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid #000;
    margin-right: 8px;
}
.sns {
    background-image: url(../img/sns-backg.png);
}
.sns .title {
    font-size: 32px;
    padding-left: 100px;
    padding-top: 30px;
}
.sns .snsimg {
    width:1750px; margin:100px auto 0;
    display:flex; justify-content: space-between;
    padding-left: 30px;
}
.sns .snsimg img {
    width: calc((100% / 4) - 10px);
}
.banner {
    background-image: url(../img/banner-backgr.png);
    width: 1920px; height:100vh;
}
.banner .bannerimg {
    width:1680px; padding-top:100px; margin:0 auto;
    display:flex; justify-content: space-between;
    flex-flow:row wrap;
    padding-left: 24px;
}
.banner .bannerimg img {
    width: calc((100% / 2) - 10px);
    margin-top:40px;
}